@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  --wave-angle: 180deg;
  --wave-gradient: linear-gradient(
    var(--wave-angle),
    hsla(0, 0%, 0%, 0.125) 50%,
    hsla(0, 0%, 0%, 0.75)
  );
  --wave-opacity: 0.35;

  mask: var(--wave-gradient);
  -webkit-mask: var(--wave-gradient);
  background-image: linear-gradient(
      to right,
      hsla(280, 91%, 60%, var(--wave-opacity)),
      hsla(277, 87%, 63%, var(--wave-opacity)),
      hsla(280, 94%, 43%, var(--wave-opacity))
    ),
    url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='20' patternTransform='scale(1) rotate(35)'><rect x='0' y='0' width='100%' height='100%' fill='none'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432' stroke-width='0.5' stroke='hsla(258,90%,66%,.25)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.features-bg {
  --wave-angle: 180deg;
  --wave-gradient: linear-gradient(
    var(--wave-angle),
    hsla(0, 0%, 0%, 0.125) 50%,
    hsla(0, 0%, 0%, 0.75)
  );
  --wave-opacity: 0.3;

  mask: var(--wave-gradient);
  -webkit-mask: var(--wave-gradient);
  background-image: linear-gradient(
      to right,
      hsla(280, 91%, 60%, var(--wave-opacity)),
      hsla(277, 87%, 63%, var(--wave-opacity)),
      hsla(280, 94%, 43%, var(--wave-opacity))
    ),
    url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='20' patternTransform='scale(1) rotate(35)'><rect x='0' y='0' width='100%' height='100%' fill='none'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432' stroke-width='0.5' stroke='hsla(258,90%,66%,.25)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-neutral-800;
}
